body{
    background-image: url("gym_bg2.png");
    font-family: 'Truculenta';
    font-size: 22px;
    }
    #gfg {
        color:rgb(206,246,9);
        font-size: 100%;
        font-family: 'Truculenta';
    }
    
    p {
        color:darkgrey;
        font-family:serif;
        font-size:medium;
    }
    
    img{
        border-radius: 50%;
    
    }
    button{
        border: none;
        overflow: hidden;
        border-radius: 50%;
    }
    
    
    .left{
        display:inline-block;
        position: absolute;
        left:60px;
        top:20px;
    }

    .mid{
        display:block
        width: 33%;
        position: 20px auto;
        
    }
    .right{
        display:inline-block;
        position: absolute;
        left:60px;
        top:20px;
    }
    .navbar{
        display:inline-block;
        font size: 100%;
        

    }
    .navbar li{
        display:inline-block;
        font size: 100%;
    
    }
    .navbar li a{
        color: rgb(206,246,9);
        text-decoration: none ;
        padding: 33px 28px;
        font size: 100%;
        
    }
    .navbar li a:hover, .navbar li a.active{
    text-decoration: underline;
    
    }